<template>
  <div>
    <p class="text-gray-100">Hello</p>
    <p class="text-gray-100">Ping: {{ ping }}</p>
  </div>
</template>

<script setup lang="ts">
import { ofetch } from 'ofetch';
import { onMounted, ref } from 'vue';

defineOptions({
  name: 'HomePage'
})

const ping = ref('')

onMounted(async () => {
  const getPing = await ofetch('/api/v1/ping', { baseURL: 'http://localhost:8000', headers: { 'Content-Type': 'application/json' } })
  ping.value = getPing.data
})
</script>