<template>
  <div>
    <slot />
  </div>
</template>

<script setup lang="ts">
import { useHead } from '@unhead/vue';

useHead({
  title: 'Laravel Vue'
})

defineOptions({
  name: 'DefaultLayout'
})
</script>