<template>
  <div>
    Not FOUND
  </div>
  <RouterLink to="/">Back Home</RouterLink>
</template>

<script setup lang="ts">
import { useHead } from '@unhead/vue';

useHead({
  title: 'Not Found | Laravel Vue'
})
</script>